.cta-small {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #22a7f0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
  margin-bottom: 0.5625rem;
  padding-bottom: 0.5rem;
  line-height: 1.125rem;
  cursor: pointer;
}

@media (min-width:48em) {
  .cta-small {
    font-size: 0.875rem;
  }
}

.centered .cta-small:hover::after {
  width: 50%;
}

.cta-small:hover::before {
  width: 100%;
}

.centered .cta-small:hover::before {
  width: 50%;
}

.cta-small:hover::after,.cta-small:hover::before {
  transition: width 0.5s cubic-bezier(0,0,0.2,1);
}

.cta-small::after,.cta-small::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.1875rem;
  transition: width 0.2s cubic-bezier(0.4,0,1,1);
  background-color: #22a7f0;
}

.centered .cta-small::after {
  right: 50%;
}

.cta-small::before {
  left: 0;
}

.centered .cta-small::before {
  left: 50%;
}

.heading-h9,.heading-h9-centered,.heading-h9-no-line {
  font-size: 0.875rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: #282d31;
  padding: 1rem 0;
}

.heading-h10 {
  font-size: 1rem;
  line-height: 2.375rem;
  color: #2c3e50;
}

.heading-h11 {
  font-size: 0.8125rem;
  color: #bdc3c7;
}

.heading-h12 {
  font-size: 0.75rem;
  color: #bdc3c7;
  text-transform: uppercase;
  line-height: 0.9375rem;
}

.heading-h13 {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #737f8b;
  text-transform: uppercase;
}

.heading-h14 {
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  color: #2c3e50;
}

.heading-h15 {
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  color: #737f8b;
}

.heading-h16 {
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.00063rem;
  color: #282d31;
  font-size: 1.75rem;
  line-height: 2.75rem;
}

@media (min-width:64em) {
  .heading-h16 {
    font-size: 2.75rem;
    line-height: 3.75rem;
  }
}

blockquote {
  font-style: italic;
  font-size: 1.375rem;
  font-weight: normal;
  line-height: 2rem;
}

blockquote > * {
  font-size: inherit;
}

small {
  font-size: smaller;
}

.bold {
  font-weight: bold;
}

.btn-primary,.btn-secondary,.user-menu_sign-up,.btn-green-primary,.btn-green-secondary,.btn-small,#block-box-local-tasks ul li a,.block-system ul li a,.footer-email-signup input[type='submit'],.user-login-form .button,.user-pass .button,.user-form .button,.user-pass-reset .button,.simplesamlphp-auth-login-link {
  font-family: inherit;
  font-size: 0.975rem;
  font-weight: bold;
  line-height: 3.25rem;
  border-radius: 0.1875rem;
  border: 0;
  outline: none;
  padding: 10 0.4375rem;
  background-color: #4285f4;
  border-color: #4285f4;
  color: grey;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  min-width: 8.5rem;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0.0125rem;
}

.btn-primary:hover,.btn-secondary:hover,.user-menu_sign-up:hover,.btn-green-primary:hover,.btn-green-secondary:hover,.btn-small:hover,#block-box-local-tasks ul li a:hover,.block-system ul li a:hover,.footer-email-signup input[type='submit']:hover,.user-login-form .button:hover,.user-pass .button:hover,.user-form .button:hover,.user-pass-reset .button:hover,.simplesamlphp-auth-login-link:hover {
  background-color: #4285f4;
  border-color: #4285f4;
   color: white;
}

.btn-secondary,.user-menu_sign-up {
  background-color: transparent;
  border: 1px solid #22a7f0;
}

.btn-green-primary {
  background-color: #3fb87f;
  border: 1px solid #3fb87f;
}

.btn-green-primary:hover {
  background-color: #329265;
  border: 1px solid #329265;
}

.btn-green-secondary {
  background-color: transparent;
  border: 1px solid #3fb87f;
  color: #3fb87f;
}

.btn-green-secondary:hover {
  background-color: #329265;
  border: 1px solid #329265;
  color: #fff;
}

.btn-small,#block-box-local-tasks ul li a,.block-system ul li a {
  font-size: 0.875rem;
  line-height: 1.875rem;
}

.cta {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}

.cta-learn-less {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cta-more,.pricing-package-cta ins,.cta-less,.pricing-package-features-active .pricing-package-cta ins,.cta-learn-more,.cta-learn-less,.video-icon-light,.video-icon-dark,.video-link-light ins,.video-link-dark ins,.video-link::before,.video-link__popup::before {
  font-size: 0;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  position: relative;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
}

.cta-more::before,.pricing-package-cta ins::before,.cta-less::before,.pricing-package-features-active .pricing-package-cta ins::before,.cta-learn-more::before,.cta-learn-less::before,.video-icon-light::before,.video-icon-dark::before,.video-link-light ins::before,.video-link-dark ins::before,.video-link::before,.video-link__popup::before {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cta-more,.pricing-package-cta ins,.cta-less,.pricing-package-features-active .pricing-package-cta ins {
  width: 1.3125rem;
  height: 1.3125rem;
  line-height: 1.3125rem;
  color: #22a7f0;
}

.cta-more::before,.pricing-package-cta ins::before,.cta-less::before,.pricing-package-features-active .pricing-package-cta ins::before {
  font-size: 0.75rem;
  margin-top: -0.375rem;
  margin-left: -0.375rem;
}

.cta-more:hover,.pricing-package-cta ins:hover,.cta-less:hover {
  color: #2c3e50;
}

.cta-learn-more,.cta-learn-less {
  width: 2.0625rem;
  height: 2.0625rem;
  line-height: 2.0625rem;
  color: #22a7f0;
}

.cta-learn-more::before,.cta-learn-less::before {
  font-size: 0.875rem;
  margin-top: -0.4375rem;
  margin-left: -0.4375rem;
}

.video-icon-light,.video-icon-dark,.video-link-light ins,.video-link-dark ins {
  width: 1.9375rem;
  height: 1.9375rem;
  line-height: 1.9375rem;
}

.video-icon-light::before,.video-icon-dark::before,.video-link-light ins::before,.video-link-dark ins::before {
  font-size: 0.625rem;
  margin-top: -0.3125rem;
  margin-left: -0.1875rem;
}

.video-icon-light,.video-link-light {
  color: #fff;
}

.video-icon-light:hover,.video-link-light:hover {
  color: #22a7f0;
}

.video-icon-dark,.video-link-dark {
  color: #22a7f0;
}

.video-icon-dark:hover,.video-link-dark:hover {
  color: #2c3e50;
}

.video-link-light,.video-link-dark {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
}

.video-link-light ins,.video-link-dark ins {
  margin-right: 0.5rem;
}

.video-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.video-link:hover::after {
  background: rgba(0,0,0,0.2);
}

.video-link::after {
  content: '';
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background .2s ease-out;
}

.video-link::before {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-width: 4px;
  color: #fff;
  position: absolute;
  margin-top: -2.25rem;
  margin-left: -2.25rem;
  z-index: 1;
  text-indent: 0.3125rem;
  transition: color .2s ease-out;
  line-height: 2.3;
}

.video-link__popup {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 0;
}

.video-link__popup::before {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-width: 4px;
  color: #fff;
  position: relative;
  z-index: 1;
  text-indent: 0.3125rem;
  transition: color .2s ease-out;
  line-height: 2.3;
  left: 50%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

input[type='text'],input[type='email'],input[type='tel'],input[type='password'],input[type='url'],input[type='number'],input[type='search'],input[type='time'],textarea,select {
  font-family: 'Lato',sans-serif;
  border: 1px solid rgba(189,195,199,0.75);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.125rem;
  background-color: #fff;
  color: #2c3e50;
  width: 100%;
  padding: 0.75rem;
  font-size: 0.875rem;
}

input[type='text']:focus,input[type='email']:focus,input[type='tel']:focus,input[type='password']:focus,input[type='url']:focus,input[type='number']:focus,input[type='search']:focus,input[type='time']:focus,textarea:focus,select:focus {
  border-color: #22a7f0;
  outline: none;
}

.contact-form-error input[type='text'],.contact-form-error input[type='email'],.contact-form-error input[type='tel'],.contact-form-error input[type='password'],.contact-form-error input[type='url'],.contact-form-error input[type='number'],.contact-form-error input[type='search'],.contact-form-error input[type='time'],.contact-form-error textarea,.contact-form-error select {
  border-color: #e48e8e;
}

input[type='text'],input[type='email'],input[type='tel'],input[type='password'],input[type='url'],input[type='number'],input[type='search'],input[type='time'],textarea {
  line-height: 1;
}

.fields-in-row input[type='text'],.fields-in-row input[type='email'],.fields-in-row input[type='tel'],.fields-in-row input[type='password'],.fields-in-row input[type='url'],.fields-in-row input[type='number'],.fields-in-row input[type='search'],.fields-in-row input[type='time'],.fields-in-row textarea {
  margin-bottom: 1.25rem;
}

@media (min-width:30em) {
  .fields-in-row input[type='text'],.fields-in-row input[type='email'],.fields-in-row input[type='tel'],.fields-in-row input[type='password'],.fields-in-row input[type='url'],.fields-in-row input[type='number'],.fields-in-row input[type='search'],.fields-in-row input[type='time'],.fields-in-row textarea {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}

.fields-in-row input[type='text']:last-child,.fields-in-row input[type='email']:last-child,.fields-in-row input[type='tel']:last-child,.fields-in-row input[type='password']:last-child,.fields-in-row input[type='url']:last-child,.fields-in-row input[type='number']:last-child,.fields-in-row input[type='search']:last-child,.fields-in-row input[type='time']:last-child,.fields-in-row textarea:last-child {
  margin-right: 0;
}

input[type='checkbox']:focus {
  outline: 1px dashed #22a7f0;
  outline-offset: 1px;
}

textarea {
  min-height: 6.125rem;
  resize: none;
}

select {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: auto 0.1875rem;
  padding-right: 1.875rem;
}

select:disabled {
  background-color: rgba(189,195,199,0.2);
  color: #bdc3c7;
}

select::-ms-expand {
  display: none;
}

@media (min-width:48em) {
  .js .selectnav {
    display: none;
  }
}

.preloader,#fancybox-loading,.ajax-progress-fullscreen {
  margin: -0.3125rem 0.25rem;
  top: 50%;
  left: 50%;
  animation-name: secondcrawler;
  animation-delay: .1s;
}

.preloader::before,#fancybox-loading::before,.ajax-progress-fullscreen::before,.preloader::after,#fancybox-loading::after,.ajax-progress-fullscreen::after {
  content: '';
  display: block;
  top: 0;
  animation-name: firstcrawler;
}

.preloader::before,#fancybox-loading::before,.ajax-progress-fullscreen::before {
  left: -0.25rem;
  animation-delay: 0s;
}

.preloader::after,#fancybox-loading::after,.ajax-progress-fullscreen::after {
  right: -0.25rem;
  animation-delay: .2s;
}

.preloader,#fancybox-loading,.ajax-progress-fullscreen,.preloader::before,#fancybox-loading::before,.ajax-progress-fullscreen::before,.preloader::after,#fancybox-loading::after,.ajax-progress-fullscreen::after {
  position: absolute;
  width: 0.125rem;
  height: 0.625rem;
  border-radius: 0.25rem;
  background-color: #22a7f0;
  will-change: transform,opacity;
  transform: translateZ(0);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: .66s;
}

@keyframes firstcrawler {
  0%,80%,100% {
    transform: scaleY(0.9);
    opacity: .5;
  }

  40% {
    transform: scaleY(1.1);
    opacity: 1;
  }
}

@keyframes secondcrawler {
  0%,80%,100% {
    transform: scaleY(1.2);
    opacity: .5;
  }

  40% {
    transform: scaleY(1.6);
    opacity: 1;
  }
}

table {
  margin: 1.25rem auto;
  font-size: 0.875rem;
}

@media (min-width:48em) {
  table {
    font-size: 1rem;
  }
}

table th {
  font-weight: bold;
}

table th,table td {
  border: 1px solid #737f8b;
  padding: .5em;
}

.responsive-table {
  border: 1px solid #2c3e50;
  table-layout: fixed;
  width: 100%;
}

@media (min-width:48em) {
  .responsive-table {
    table-layout: auto;
  }
}

.responsive-table thead {
  font-size: 0;
}

@media (min-width:48em) {
  .responsive-table thead {
    font-size: inherit;
  }
}

.responsive-table thead th {
  border-width: 0;
}

@media (min-width:48em) {
  .responsive-table thead th {
    border-width: 1px;
  }
}

.responsive-table tbody tr {
  border-bottom: 1px solid #2c3e50;
}

@media (min-width:48em) {
  .responsive-table tbody tr {
    border-bottom: 0;
  }
}

.responsive-table tbody tr:nth-of-type(odd) {
  background: #bdc3c7;
}

@media (min-width:48em) {
  .responsive-table tbody tr:nth-of-type(odd) {
    background: transparent;
  }
}

.responsive-table tbody tr:last-child {
  border-bottom: 0;
}

.responsive-table tr {
  display: block;
}

@media (min-width:48em) {
  .responsive-table tr {
    display: table-row;
  }
}

.responsive-table td {
  font-size: 0;
  display: block;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  text-align: left;
}

@media (min-width:48em) {
  .responsive-table td {
    font-size: 1rem;
    display: table-cell;
    border-width: 1px;
  }
}

@media (min-width:48em) {
  .responsive-table td.text-align-center {
    text-align: center;
  }
}

.responsive-table td:last-child {
  border-bottom-width: 0;
}

@media (min-width:48em) {
  .responsive-table td:last-child {
    border-width: 1px;
  }
}

.responsive-table td::before,.responsive-table td::after {
  font-size: 0.8125rem;
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  padding: .5em;
  box-sizing: border-box;
}

@media (min-width:48em) {
  .responsive-table td::before,.responsive-table td::after {
    display: none;
  }
}

.responsive-table td::before {
  content: attr(data-heading);
  font-weight: bold;
}

.responsive-table td::after {
  content: attr(data-content);
}

.container-debug {
  max-width: 100%;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  background-image: linear-gradient(to right,rgba(0,0,0,0.25),rgba(38,38,38,0.25) 65.4321%,transparent 65.4321%);
  background-size: 27.36486%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  height: 9.375rem;
}

.container-debug:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width:48em) {
  .container-debug {
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: linear-gradient(to right,rgba(0,0,0,0.25),rgba(38,38,38,0.25) 58.76289%,transparent 58.76289%);
    background-size: 13.17935%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }

  .container-debug:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width:64em) {
  .container-debug {
    max-width: 62.75rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,rgba(0,0,0,0.25),rgba(38,38,38,0.25) 63.63636%,transparent 63.63636%);
    background-size: 8.59375%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }

  .container-debug:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width:81.25em) {
  .container-debug {
    max-width: 79.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width:48em) {
  .col-6 {
    width: 47.74194%;
    float: left;
    margin-right: 4.51613%;
  }
}

@media (min-width:64em) {
  .col-6 {
    width: 48.51695%;
    float: left;
    margin-right: 2.9661%;
  }
}

@media (min-width:48em) {
  .col-6_last {
    width: 47.74194%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width:64em) {
  .col-6_last {
    width: 48.51695%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width:48em) {
  .mobile {
    display: none;
  }
}

.tablet {
  display: none;
}

@media (min-width:48em) {
  .tablet {
    display: block;
  }
}

@media (min-width:64em) {
  .tablet {
    display: none;
  }
}

.desktop {
  display: none;
}

@media (min-width:64em) {
  .desktop {
    display: block;
  }
}

@media screen and (min-width:64em) and (max-width:81.1875em) {
  .tablet-hide-only {
    display: none !important;
  }
}

.cta-in-row,.fields-in-row {
  font-size: 0;
}

.cta-in-row > div,.cta-in-row > a,.cta-in-row > input {
  margin-right: 0rem;
}

.cta-in-row > div:last-child,.cta-in-row > a:last-child,.cta-in-row > input:last-child {
  margin-right: 0;
}

.stacked-cta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.stacked-cta > div,.stacked-cta > a,.stacked-cta > input {
  margin-right: 0;
  margin-bottom: 1.25rem;
  float: left;
}

.stacked-cta > div::after,.stacked-cta > a::after,.stacked-cta > input::after {
  content: '';
  display: table;
  clear: left;
}

.stacked-cta > div:last-child,.stacked-cta > a:last-child,.stacked-cta > input:last-child {
  margin-bottom: 0;
}

.centered,.three-column-icons header,.graphic-centered {
  text-align: center;
}

@media (min-width:48em) {
  .show-mobile {
    display: none !important;
  }
}

.show-tablet {
  display: none;
}

@media (min-width:48em) {
  .show-tablet {
    display: block !important;
  }
}

.full-width {
  width: 100%;
}

.grey-background {
  background-color: #f8f9f9;
}

.text-align-center {
  text-align: center;
}

.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0,0,0);
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-outer,.fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-image,.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  position: fixed;
  cursor: pointer;
  z-index: 8060;
}

.fancybox-close {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 8040;
  color: #fff;
  text-decoration: none;
}

.fancybox-close::before {
  font-size: 1.125rem;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background-color: rgba(0,0,0,0.9);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-title {
  visibility: hidden;
  z-index: 8050;
}

.fancybox-title h1,.fancybox-title h2,.fancybox-title h3,.fancybox-title h4,.fancybox-title h5,.fancybox-title h6 {
  margin-bottom: 0.3125rem;
}

.fancybox-title p {
  font-size: 0.875rem;
}

.fancybox-title-float-wrap {
  position: static;
}

.fancybox-title-float-wrap .child {
  margin-right: 0;
  padding: 1.5625rem 0 0;
  width: 100%;
  color: #fff;
  display: inline-block;
}

.language-popup-fancybox {
  text-align: center;
  background-color: #fff;
  border-radius: 0.1875rem;
}

.language-popup-fancybox svg {
  width: 3.75rem;
}

.language-popup-fancybox svg .box-logo-svg {
  fill: #22a7f0;
}

.language-popup-fancybox h3,.language-popup-fancybox .btn-primary {
  margin: 1rem 0;
}

.social-links,.footer-social-icons {
  font-size: 0;
}

.social-links li,.footer-social-icons li {
  display: inline-block;
  margin: 0 0.875rem;
}

@media (min-width:48em) {
  .social-links li,.footer-social-icons li {
    margin: 0 0.375rem;
  }
}

.social-links li:first-child,.footer-social-icons li:first-child {
  margin-left: 0;
}

.social-links li:last-child,.footer-social-icons li:last-child {
  margin-right: 0;
}

.social-links li a,.footer-social-icons li a {
  text-decoration: none;
}

.social-links li a::before,.footer-social-icons li a::before {
  font-size: 1.5rem;
}

@media (min-width:48em) {
  .social-links li a::before,.footer-social-icons li a::before {
    font-size: 1rem;
  }
}

.ajax-content .heading-h12,.sidebar-nav .heading-h12 {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 0.9375rem;
  margin-bottom: 0.875rem;
}

@media (min-width:48em) {
  .ajax-content-secondary {
    width: 41.20968%;
    float: right;
    margin-right: 0;
  }
}

.ajax-content-group,.sidebar-nav-group {
  margin-bottom: 2.125rem;
}

.ajax-content-group ul,.sidebar-nav-group ul {
  font-size: 1rem;
}

.ajax-content-item,.ajax-content-main {
  color: #bdc3c7;
}

.masthead-bg,.masthead-img {
  background: #2c3e50;
  position: relative;
  color: #fff;
  overflow: hidden;
  width: 100%;
  min-height: 21.875rem;
}

@media screen and (max-width:47.9375em) and (orientation:portrait) {
  .masthead-bg,.masthead-img {
    height: 75vh;
  }
}

@media screen and (max-width:47.9375em) and (orientation:landscape) {
  .masthead-bg,.masthead-img {
    height: 100vh;
  }
}

@media (min-width:48em) and (orientation:landscape) {
  .masthead-bg,.masthead-img {
    height: 60vh;
    min-height: 35rem;
  }
}

@media (min-width:48em) and (orientation:portrait) {
  .masthead-bg,.masthead-img {
    height: 35vh;
  }
}

@media (min-width:64em) {
  .masthead-bg,.masthead-img {
    height: 80vh;
  }
}

.masthead-bg + .flex-ls,.masthead-img + .flex-ls {
  padding: 0.9375rem 0 !important;
}

.masthead-bg + .flex-ia,.masthead-img + .flex-ia,.masthead-bg + .flex-ci,.masthead-img + .flex-ci,.masthead-bg + .cards,.masthead-img + .cards,.masthead-bg + .clickable-logo,.masthead-img + .clickable-logo,.masthead-bg + .resource-center,.masthead-img + .resource-center,.masthead-bg + .icon-bullet,.masthead-img + .icon-bullet,.masthead-bg + .graphic-centered,.masthead-img + .graphic-centered,.masthead-bg + .four-up-type-only,.masthead-img + .four-up-type-only {
  padding-top: 1.5625rem !important;
}

@media (min-width:48em) {
  .masthead-bg + .flex-ia,.masthead-img + .flex-ia,.masthead-bg + .flex-ci,.masthead-img + .flex-ci,.masthead-bg + .cards,.masthead-img + .cards,.masthead-bg + .clickable-logo,.masthead-img + .clickable-logo,.masthead-bg + .resource-center,.masthead-img + .resource-center,.masthead-bg + .icon-bullet,.masthead-img + .icon-bullet,.masthead-bg + .graphic-centered,.masthead-img + .graphic-centered,.masthead-bg + .four-up-type-only,.masthead-img + .four-up-type-only {
    padding-top: 2.1875rem !important;
  }
}

@media (min-width:64em) {
  .masthead-bg + .flex-ia,.masthead-img + .flex-ia,.masthead-bg + .flex-ci,.masthead-img + .flex-ci,.masthead-bg + .cards,.masthead-img + .cards,.masthead-bg + .clickable-logo,.masthead-img + .clickable-logo,.masthead-bg + .resource-center,.masthead-img + .resource-center,.masthead-bg + .icon-bullet,.masthead-img + .icon-bullet,.masthead-bg + .graphic-centered,.masthead-img + .graphic-centered,.masthead-bg + .four-up-type-only,.masthead-img + .four-up-type-only {
    padding-top: 5rem !important;
  }
}

.masthead-bg + .sign-off-cta,.masthead-img + .sign-off-cta {
  margin-top: 0 !important;
}

@media (min-width:48em) {
  .masthead-bg + .quotes-module-07a,.masthead-img + .quotes-module-07a {
    margin-top: 0;
    padding-top: 2.1875rem !important;
  }
}

@media (min-width:64em) {
  .masthead-bg + .quotes-module-07a,.masthead-img + .quotes-module-07a {
    padding-top: 5rem !important;
  }
}

.masthead-bg h2,.masthead-img h2 {
  line-height: 1.375rem;
  margin-top: 0.8125rem;
}

@media (min-width:64em) {
  .masthead-bg h2,.masthead-img h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.masthead-bg .cta-in-row,.masthead-img .cta-in-row {
  margin-top: 1.5625rem;
}

@media (min-width:48em) {
  .masthead-bg .cta-in-row,.masthead-img .cta-in-row {
    margin-top: 2.6875rem;
  }
}

.masthead-bg-content {
  position: relative;
}

@media (min-width:48em) {
  .masthead-bg-content {
    position: absolute;
    width: 100%;
  }
}

.masthead-img {
  text-align: center;
}

.masthead-img picture {
  display: block;
  margin-bottom: 0.1875rem;
}

@media (min-width:48em) {
  .masthead-img picture {
    width: 34.67742%;
    margin-bottom: 0;
  }
}

.masthead-img img {
  max-width: 18rem;
}

@media (min-width:64em) {
  .masthead-img img {
    max-width: 14.375rem;
  }
}

.masthead-img .container {
  position: relative;
  font-size: 0;
}

@media (min-width:48em) {
  .masthead-img .masthead-img-content {
    width: 60.80645%;
  }
}

@media (min-width:48em) {
  .masthead-img .masthead-img-content,.masthead-img picture {
    display: inline-block;
    vertical-align: middle;
  }
}

.masthead-bg-mid {
  min-height: 23.125rem !important;
  height: 60vh !important;
}

.masthead-bg-small {
  min-height: 16.25rem !important;
  height: 35vh !important;
}

.masthead-img {
  height: auto !important;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width:64em) {
  .masthead-img {
    padding-top: 0;
    padding-bottom: 0;
    height: 80vh !important;
  }
}

.masthead-img .container {
  top: auto !important;
  -ms-transform: initial !important;
  transform: initial !important;
}

@media (min-width:64em) {
  .masthead-img .container {
    top: 50% !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
  }
}

@media (min-width:48em) {
  .masthead-img-middle picture {
    width: 47.74194%;
    margin-right: 2.01613%;
    margin-bottom: 0;
  }
}

@media (min-width:48em) {
  .masthead-img-middle img {
    max-width: none;
    width: 100%;
  }
}

@media (min-width:64em) {
  .masthead-img-middle img {
    max-width: 34.375rem;
  }
}

@media (min-width:48em) {
  .masthead-img-middle .masthead-img-content {
    width: 41.20968%;
  }
}

.masthead-light {
  color: inherit;
  background: #fff;
}

.masthead-light .btn-secondary {
  color: inherit;
}

.masthead-light .btn-secondary:hover {
  color: #66a0fd;
}

.masthead__video-play h2 {
  font-weight: 300;
  font-style: normal;
  font-size: 2.875rem;
  line-height: 3.625rem;
  letter-spacing: 0.01875rem;
}

.masthead__video-play strong {
  color: #0061d5;
  font-weight: inherit;
}

.masthead__video-play--outer {
  background-color: #F5F6F8;
  padding: 17.90541%;
}

@media (min-width:48em) {
  .masthead__video-play--outer {
    padding: 8.54839%;
  }
}

@media (min-width:64em) {
  .masthead__video-play--outer {
    padding: 5.61441%;
  }
}

.masthead__video-play--inner {
  position: relative;
}

.masthead__video-play--content {
  text-align: center;
}

@media (min-width:48em) {
  .masthead__video-play--content {
    width: 39.88868%;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.masthead__video-play--popup {
  margin: 1.875rem 0;
  font-size: 0;
  display: block;
}

@media (min-width:48em) {
  .masthead__video-play--popup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.masthead__video-play--popup::before {
  color: #0061d5;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
  border-width: 0;
  transition: box-shadow .3s ease;
}

.masthead__video-play--popup:hover::before {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.sign-off-cta .cta-in-row {
  margin-top: 3.125rem;
}

@media (min-width:48em) {
  .sign-off-cta .cta-in-row {
    margin-top: 1.875rem;
  }
}

.sign-off-cta-content {
  padding: 5rem 0;
}

@media (min-width:48em) {
  .sign-off-cta-content {
    padding: 5.625rem 0;
  }
}

@media (min-width:64em) {
  .sign-off-cta-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 0;
  }
}

.sign-off-cta p {
  font-size: 1.125rem;
  color: rgba(255,255,255,0.7);
}

@media (min-width:64em) {
  .sign-off-cta p {
    font-size: 1.5rem;
  }
}

.sign-off-cta form {
  margin: 2.1875rem 0 0;
}

@media (min-width:64em) {
  .sign-off-cta form {
    margin: 2.8125rem 0 0;
  }
}

@media (min-width:30em) {
  .sign-off-cta .input-text {
    max-width: 12.5rem;
  }
}

@media (min-width:48em) {
  .sign-off-cta .input-text {
    max-width: 18.125rem;
  }
}

.sign-off-cta .fields-in-row {
  margin-bottom: 2.5rem;
}

.pricing-package .cta-in-row .btn-secondary {
  color: #22a7f0;
}

@media screen and (min-width:64em) and (max-width:81.1875em) {
  .pricing-package .cta-in-row .btn-secondary {
    -ms-flex-order: 2;
    order: 2;
    background: none;
    border: 1px solid #fff;
  }
}

.pricing-package .cta-in-row .btn-secondary:hover,.pricing-package .cta-in-row .btn-secondary.full-width:hover {
  color: #fff;
  background-color: #0e8cd1;
  border: 1px solid #0e8cd1;
}

.pricing-package .cta-in-row .btn-secondary.full-width {
  border: 1px solid #22a7f0;
  background-color: transparent;
  color: #22a7f0;
}
