* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(../Images/background_image-923f9ef4206c390cc8835d223a2c5a83.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:768px){
    body {
        background-image: none;
        background-color: #174783;
    }
}

@media screen and (max-width:768px){
    div.sign-in h1 {
        font-size: 13px;
    }
}

@media screen and (max-width:768px){
    div.container__content p {
        font-size: 14px;
    }
}


@media screen and (max-width:768px){
    div.form-content {
        width: 94%;
        position: absolute;
        margin-right: 50%;
        margin-left: 3%;
        min-height: 73%;
        background-color: rgb(255, 255, 255);
    }
}

@media screen and (max-width:768px){
    div.img img {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        width: 40%;
    }
}

@media screen and (max-width:768px){
    div.input input {
        width: 85%;
        border: 1px solid #afacacb6;
        margin-bottom: 35px;
    }
}

@media screen and (max-width:768px){
    div.container p {
        width: 100%;
    }
}

@media screen and (max-width:768px){
    div.Form-Label {
        text-align: left;
        margin: 0;
        margin-left: 30px;
        font-size: 13px;
        font-family: 'Fira Sans', sans-serif;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:768px){
    div.button button {
        width: 85%;
        display: block;
        margin-left: 25px;
        margin-top: 60px;
    }
}

@media screen and (max-width:768px){
    div.login a {
        font-size: 12px;
    }
}

@media screen and (max-width:768px){
    div.login {
        margin-top: 3px;
    }
}

@media screen and (max-width:768px){
    div.ncua {
        margin-top: 20px;
    }
}

@media screen and (max-width:768px){
    div.text p {
        margin-bottom: 10px;
        font-size: 12px;
    }
}

.head {
    background-color: #0066A4;
    height: 65px;
    padding-top: 1px;
    margin-bottom: 30px;
}

.head .text p {
    color: #fff;
    margin: 0;
    padding-top: 5px;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
}

.login-head {
    background-color: #0066A4;
    color: #fff;
    height: 30px;
}

.login-head p {
    margin-left: 18%;
    padding-top: 2px;
}

.form-content {
    position: absolute;
    margin-right: 50%;
    margin-left: 32%;
    margin-top: 5%;
    width: 30%;
    height: 50%;
    background-color: #f7f7f7;
    position: absolute;
    border: 1px solid #b3afaf;
}

.sign-in h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #616161;
}

.foot {
    text-align: center;
    background-color: #25458e;
    padding-bottom: 20px;
    margin-top: 40px;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.foot a {
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.foot a:hover {
    color: #fff;
}

hr {
    color: #616161;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img img {
    margin-left : 17%;
    margin-bottom: 10px;
    width: 8%;
    margin-top: 15px;
}

.Form-Label {
    margin-left: 8%;
    margin-bottom: 10px;
    font-size: 15px;
    color: #2E2E2E;
    font-weight: 540;
    font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input input {
    height: 37px;
    width: 85%;
    display: block;
    margin : 0 auto;
    color: #424242;
    border: 1px solid rgba(161, 157, 157, 0.521);
    margin-bottom: 30px;
    text-indent: 10px;
    outline: none;
    font-size: 16px;
    border-radius: 3px;
    
}

input[type=text]:focus {
    outline: none;
    border: 3px solid rgba(9, 90, 184, 0.603);
}

input[type=password]:focus {
    outline: none;
    border: 3px solid rgba(9, 90, 184, 0.603);
}

.button {
    margin: o auto;
    text-align: center;
}

.button button {
    height: 45px;
    width: 38%;
    margin-left : 40%;
    background-color: #F99400;
    border: #353333;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

input::placeholder {
    text-indent: 10px;
    font-size: 15px;
}

.text p {
    text-align: center;
    margin-bottom: 30px;

}

.text p {
    color: #616161;
    margin-top: 25px;
    font-size: 14px;
}

.login {
    padding-top: 40px;
}

.login a {
    font-size: 13px;
    color: #6782a2;
    text-decoration: none;
    margin-left: 57%;
}

.incorrect {
    background-color:rgb(212, 206, 206);
    color:red;
    text-align: center;
    width: 85%;
    height: 30px;
    margin: 0 auto;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.ncua {
    margin-top: 40px;
}

.ncua img {
    width: 90%;
}