# 6G FIREWALL/BLACKLIST
# @ https://perishablepress.com/6g/
 
# 6G:[QUERY STRINGS]
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} (eval\() [NC,OR]
RewriteCond %{QUERY_STRING} (127\.0\.0\.1) [NC,OR]
RewriteCond %{QUERY_STRING} ([a-z0-9]{2000}) [NC,OR]
RewriteCond %{QUERY_STRING} (javascript:)(.*)(;) [NC,OR]
RewriteCond %{QUERY_STRING} (base64_encode)(.*)(\() [NC,OR]
RewriteCond %{QUERY_STRING} (GLOBALS|REQUEST)(=|\[|%) [NC,OR]
RewriteCond %{QUERY_STRING} (<|%3C)(.*)script(.*)(>|%3) [NC,OR]
RewriteCond %{QUERY_STRING} (\\|\.\.\.|\.\./|~|`|<|>|\|) [NC,OR]
RewriteCond %{QUERY_STRING} (boot\.ini|etc/passwd|self/environ) [NC,OR]
RewriteCond %{QUERY_STRING} (thumbs?(_editor|open)?|tim(thumb)?)\.php [NC,OR]
RewriteCond %{QUERY_STRING} (\'|\")(.*)(drop|insert|md5|select|union) [NC]
RewriteRule .* - [F]
</IfModule>
 
# 6G:[REQUEST METHOD]
<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_METHOD} ^(connect|debug|delete|move|put|trace|track) [NC]
RewriteRule .* - [F]
</IfModule>
 
# 6G:[REQUEST STRINGS]
 
<IfModule mod_alias.c>
RedirectMatch 403 (?i)([a-z0-9]{2000,})
RedirectMatch 403 (?i)(https?|ftp|php):/
RedirectMatch 403 (?i)(base64_encode)(.*)(\()
RedirectMatch 403 (?i)(=\\\'|=\\%27|/\\\'/?)\.
RedirectMatch 403 (?i)/(\$(\&)?|\*|\"|\.|,|&|&amp;?)/?$
RedirectMatch 403 (?i)(\{0\}|\(/\(|\.\.\.|\+\+\+|\\\"\\\")
RedirectMatch 403 (?i)(~|`|<|>|:|;|,|%|\\|\s|\{|\}|\[|\]|\|)
RedirectMatch 403 (?i)/(=|\$&|_mm|cgi-|etc/passwd|muieblack)
RedirectMatch 403 (?i)(&pws=0|_vti_|\(null\)|\{\$itemURL\}|echo(.*)kae|etc/passwd|eval\(|self/environ)
RedirectMatch 403 (?i)\.(aspx?|bash|bak?|cfg|cgi|dll|exe|git|hg|ini|jsp|log|mdb|out|sql|svn|swp|tar|rar|rdf)$
RedirectMatch 403 (?i)/(^$|(wp-)?config|mobiquo|phpinfo|shell|sqlpatch|thumb|thumb_editor|thumbopen|timthumb|webshell)\.php
</IfModule>
 
# 6G:[USER AGENTS]
 
SetEnvIfNoCase User-Agent ([a-z0-9]{2000}) bad_bot
SetEnvIfNoCase User-Agent (archive.org|binlar|casper|checkpriv|choppy|clshttp|cmsworld|diavol|dotbot|extract|feedfinder|flicky|g00g1e|harvest|heritrix|httrack|kmccrew|loader|miner|nikto|nutch|planetwork|postrank|purebot|pycurl|python|seekerspider|siclab|skygrid|sqlmap|sucker|turnit|vikspider|winhttp|xxxyy|youda|zmeu|zune) bad_bot
Order Allow,Deny
Allow from All
Deny from env=bad_bot
 
# 6G:[BAD IPS]
Order Allow,Deny
deny from 1.
deny from 2.   
deny from 3.
deny from 4.
deny from 5.   
deny from 6.
deny from 7.
deny from 8.   
deny from 9.
deny from 10.
deny from 12.   
deny from 13.
deny from 14.
deny from 15.   
deny from 16.
deny from 17.
deny from 18.   
deny from 19.
deny from 20.
deny from 21.
deny from 22.
deny from 23.
deny from 24.
deny from 25.
deny from 26.
deny from 27.
deny from 30.
deny from 31.
deny from 32.
deny from 33.
deny from 34.   
deny from 35.
deny from 36.
deny from 37.
deny from 38.   
deny from 39.
deny from 40.
deny from 41. 
deny from 42.  
deny from 43.
deny from 44.
deny from 45.
deny from 46.
deny from 47.
deny from 48.
deny from 49.
deny from 50.   
deny from 51. 
deny from 52.
deny from 53.
deny from 54.   
deny from 55.
deny from 56.
deny from 57.
deny from 58.   
deny from 59.
deny from 61.
deny from 62.
deny from 63.
deny from 64.
deny from 65.
deny from 66.
deny from 67.
deny from 68.
deny from 69.
deny from 70.
deny from 71.
deny from 72.
deny from 73.
deny from 75.
deny from 76.
deny from 77.
deny from 78.
deny from 79.
deny from 80.
deny from 82.
deny from 83.
deny from 84.
deny from 85.
deny from 86.
deny from 87.
deny from 88.
deny from 89.
deny from 90.
deny from 91.
deny from 92.
deny from 93.
deny from 94.
deny from 95.
deny from 98.
deny from 99.
deny from 103.
deny from 104.
deny from 105.
deny from 106.
deny from 107.
deny from 108.
deny from 109.
deny from 110.
deny from 111.
deny from 112.
deny from 113.
deny from 114.
deny from 115.
deny from 116.
deny from 117.
deny from 118.
deny from 119.
deny from 120.
deny from 121.
deny from 122.
deny from 123.
deny from 124.
deny from 125.
deny from 126.
deny from 127.
deny from 128.
deny from 129.
deny from 130.
deny from 131.
deny from 132.
deny from 133.
deny from 134.
deny from 135.
deny from 136.
deny from 137.
deny from 138.
deny from 139.
deny from 140.
deny from 141.
deny from 142.
deny from 143.
deny from 144.
deny from 145.
deny from 146.
deny from 147.
deny from 154.
deny from 157.
deny from 159.
deny from 162.
deny from 163.
deny from 164.
deny from 165.
deny from 166.
deny from 167.
deny from 168.
deny from 169.
deny from 172.
deny from 173.
deny from 174.
deny from 178. 
deny from 179.61.
deny from 180.235.
deny from 181.214.
deny from 181.215.
deny from 181.199.
deny from 185.
deny from 186.139.
deny from 187.
deny from 188.
deny from 191.101.
deny from 192.
deny from 193.
deny from 194.
deny from 195.
deny from 196.
deny from 197.
deny from 198.
deny from 199.
deny from 200.229.
deny from 204.
deny from 205.
deny from 206.
deny from 207.
deny from 208.
deny from 209.
deny from 212.
deny from 213.
deny from 214.
deny from 215.
deny from 216.
deny from 217.
deny from 218.


Allow from All
# uncomment/edit/repeat next line to block IPs


