
#welcomeDiv{
        margin-left: 477px;
   }


#welcomeDiv{
   display: none;
     background-color: rgba(40, 40, 40, 0.62);
    height: auto;
    width: 523px;
    margin-left: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 8%;
    position: absolute;
    z-index: 9999999999;
    padding: 0px 7px;
    border-radius: 0px 0px 15px 15px;
}
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes zoomininsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}
