<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
	<style type="text/css">
		.corner {height: 1px; background: #BBCAD9; overflow:hidden;}
		body    {color: black; background-color: #FFFFFF; font-family: arial, geneva, helvetica, sans-serif;}
	</style>

	<title>HTTP 404 Non trouv&eacute;</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
	<br><br>
	<div style="margin: auto; width: 680px; font-size: 75%;">
		<div style="width: 680px; height: 2px; background-color: #1A7AAC; overflow:hidden;"></div>

		<div style="width: 50px; float: left;">
			<div class="corner" style="margin-left: 31px; height: 4px;"></div>
			<div class="corner" style="margin-left: 32px; height: 3px;"></div>
			<div class="corner" style="margin-left: 33px; height: 2px;"></div>
			<div class="corner" style="margin-left: 34px;"></div>
			<div class="corner" style="margin-left: 35px;"></div>
			<div class="corner" style="margin-left: 36px;"></div>
			<div class="corner" style="margin-left: 37px;"></div>
			<div class="corner" style="margin-left: 39px;"></div>
			<div class="corner" style="margin-left: 42px;"></div>
			<div class="corner" style="margin-left: 46px;"></div>
		</div>
		
		<div style="width: 580px; height: 16px; color: #1F5082; background-color: #BBCAD9; font-weight: bold; float:left;">
   			Page Web introuvable
		</div>

		<div style="width: 50px; float: left;">
			<div class="corner" style="margin-right: 31px; height: 4px;"></div>
			<div class="corner" style="margin-right: 32px; height: 3px;"></div>
			<div class="corner" style="margin-right: 33px; height: 2px;"></div>
			<div class="corner" style="margin-right: 34px;"></div>
			<div class="corner" style="margin-right: 35px;"></div>
			<div class="corner" style="margin-right: 36px;"></div>
			<div class="corner" style="margin-right: 37px;"></div>
			<div class="corner" style="margin-right: 39px;"></div>
			<div class="corner" style="margin-right: 42px;"></div>
			<div class="corner" style="margin-right: 46px;"></div>
		</div>

		<div style="width: 580px; padding: 0px 50px; font-weight: bold; float: left;">
			<br><br><br>
   			Cette erreur (HTTP 404 Non trouv&eacute;) signifie que votre navigateur a r&eacute;ussi &agrave; se connecter au site Web, mais que la page souhait&eacute;e est introuvable. Il se peut que la page Web soit temporairement indisponible. Ou alors, le site Web a peut-&ecirc;tre modifi&eacute; ou supprim&eacute; la page.
			<br><br><br><br>
		</div>

		<div style="width: 680px; font-size: 75%; color: white; text-align: center; background-color: #1A7AAC; float: left;">
			&copy; Minist&egrave;re du Budget, des Comptes publics et de la R&eacute;forme de l'Etat
		</div>

	</div>
</body>

</html>
